<div *ngIf="!pais; else divPais" class="alert alert-info">
    Espere porfavor...
</div>

<ng-template #divPais>
    <div class="row">
        <div class="col-12">
            <h3>País: <small>{{ pais.name }}</small></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4>Bandera</h4>
            <img [src]="pais.flag" [alt]="pais.idd" class="img-thumbnail">
        </div>
        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población: </strong>{{ pais.population | number }}
                </li>
                <li class="list-group-item">
                    <strong>Capital: </strong>{{ pais.capital }}
                </li>
                <li class="list-group-item">
                    <strong>Region: </strong>{{ pais.region }}
                </li>
            </ul>
        </div>
    </div>
    <h4>Traducciones</h4>
    <div class="row">
        <div class="col">
            <span class="badge bg-primary mr-1">{{ pais.translations.es }} </span>
            <span class="badge bg-primary mr-1">{{ pais.translations.fr }} </span>
            <span class="badge bg-primary mr-1">{{ pais.translations.ja }} </span>
            <span class="badge bg-primary mr-1">{{ pais.translations.it }} </span>
            <span class="badge bg-primary mr-1">{{ pais.translations.fa }} </span>
            <span class="badge bg-primary mr-1">{{ pais.translations.hu }} </span>
            <span class="badge bg-primary mr-1">{{ pais.translations.br }} </span>
            <span class="badge bg-primary mr-1">{{ pais.translations.pt }} </span>
            <span class="badge bg-primary mr-1">{{ pais.translations.nl }} </span>
            <span class="badge bg-primary mr-1">{{ pais.translations.hr }} </span>
            <span class="badge bg-primary mr-1">{{ pais.translations.fa }} </span>
        </div>
    </div>

    <!-- <pre class="mt-5">
        {{ pais | json }}
    </pre> -->

</ng-template>
