<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por capital</h2>
    <hr>
    <div class="row">
        <div class="col">
            <app-pais-input 
                (onEnter)="buscar( $event )"
                placeholder="Buscar capital..">
            </app-pais-input>
        </div>
    </div>
    <hr>
</div>

<div *ngIf="isError" class="alert alert-danger">
    No se encontro nada con el termino {{ termino }}..
</div>
<div *ngIf="countries.length > 0"  class="row">
    <div class="col">
        <app-pais-tabla [countries]="countries"></app-pais-tabla>
    </div>
</div>