<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Poblacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries; let i = index"
            class="animate__animated animate__fadeIn animate__faster">
            <td>{{ i + 1 }} </td>
            <td><img class="small-flag" [src]="country.flags.png" [alt]="i+1"></td>
            <td>{{ country.name }}</td>
            <td>{{ country.population | number }}</td>
            <td>
                <a [routerLink]="['/pais', country.alpha2Code]" >ver...</a>
            </td>
        </tr>
    </tbody>
</table>